{% extends 'base.html' %}
{% load humanize %}

{% block title %}E-mail Enviado - DOCELARMS{% endblock %}

{% block content %}
<div class="container my-5 text-center">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card border-0 shadow-lg">
                <div class="card-body p-5">
                    <h2 class="card-title fw-bold mb-4">Verifique seu E-mail</h2>
                    <p class="lead">Enviamos um e-mail com instruções para definir sua nova senha. Se você não receber em alguns minutos, verifique sua caixa de spam.</p>
                    <a href="{% url 'lista_imoveis' %}" class="btn btn-secondary mt-3">Voltar para a Página Inicial</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}