{% extends 'base.html' %}
{% load humanize %} {# Certifique-se que o humanize está carregado se usar filtros dele #}

{% block title %}Senha Alterada - DOCELARMS{% endblock %}

{% block content %}
<div class="container my-5 text-center">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card border-0 shadow-lg">
                <div class="card-body p-5">
                    <h2 class="card-title fw-bold mb-4">Senha Alterada com Sucesso!</h2>
                    <p class="lead">Sua senha foi redefinida. Você já pode fazer o login com sua nova senha.</p>
                    
                    <a href="{% url 'login' %}" class="btn btn-primary mt-3">Acessar</a> 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}